
body{
	background-color: #1C1C1C;
}
.dautrang{
	height:100px;
	background: gray;
	text-align: center;
	padding-top:10px;
	text-transform: uppercase;
}

.xe{
	float:left;
	margin-right:25px;
	border-radius: 30px solid red;
}
#car{

		width:auto;
		margin:0 auto;
		max-width:1000px;


}
.xe img{
	margin-top: 30px;
	border: 1px solid #C6E2FF;
	border-radius: 50%;
}
span{margin-left: 120px;}
span:hover{
	color: #fff;
}
a:link {
    color: #CD853F;
}